*{
    box-sizing: border-box;
    margin:0%
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

header{
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}
img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    max-width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.button{
    padding: 7px;
    border: none;
    border-radius: 5px;

}

#blue-button{
    background-color: #45ABEA;
    color: white;
    
}


#white-button{
    background-color: white;
    color:  lightgrey;
    border: 1px solid lightgrey;
}

hr{
    border: 1px solid #F6F8F9;
}
.corpo-pagina{
    width: 80%;
    margin: auto;
    padding: 15px;
}

#check{
    width: 20px;
    height: 20px;
    padding: 1px;
    padding-top: 0;
    border: 1px solid green;
    color: green;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    
}

.allineamento-task{
    width: 80%;
    margin: auto;
    padding-left: 15px;

}

h2{
    padding: 10px;
}

.task-text{
    display: inline-block;
    font-weight: 500;
    padding-bottom: 20px;
}

.tag{
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 3px;
}

#editorial{
    background-color: #45ABEA;
}

#q1{
    background-color: #9C72E4;
}

#to-do{
    width: 20px;
    height: 20px;
    padding: 1px;
    padding-top: 0;
    border: 1px solid red;
    color: red;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    display: inline-block;

}

#recruiting{
    background-color: #64C0A9 ;
}

#mobile{
    background-color: #F29E33;
}

#website{
    background-color: #D863A1;
}

#sales{
    background-color: #B0C926;
}