*{
    box-sizing: border-box;
    margin:0%
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

header{
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}
img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}