*{
    box-sizing: border-box;
    margin:0%
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

header{
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}
img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    max-width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.button{
    padding: 7px;
    border: none;
    border-radius: 5px;

}